apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  DATASOURCE_URL: jdbc:mysql://13.219.75.105:3306/flightdb?createDatabaseIfNotExist=true
  DATASOURCE_USER: linux
  FRONTEND_URL: http://localhost:5173




