apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: abhipraydh96/b31-backend:latest
          ports:
            - containerPort: 8080

          env:
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: spring.datasource.password

          volumeMounts:
            - name: config-volume
              mountPath: /config

      volumes:
        - name: config-volume
          configMap:
            name: backend-config
